@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ── Dark mode ── */
:root {
  --bg: #121212;
  --nav-bg: rgba(22, 22, 22, 0.92);
  --green: #4a7c59;
  --grey-card: #888888;
  --emerald-green: #3E5641;
  --text: #E0E0E0;
  --sub-text: #B0B0B0;
  --muted: #999999;
  --thumb-bg: #eeebe6;
  --card: #444444;
  --logo: white;
}

/* ── Light mode ── */
html.light {
  --bg: #f5f3ef;
  --nav-bg: rgba(245, 243, 239, 0.92);
  --green: #4a7c59;
  --card: #e2e2e2;
  --text: #1a1a1a;
  --muted: #666666;
  --thumb-bg: #dddad5;
  --sub-text: #606060;
  --logo: black;
}

/* html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
} */

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* section {
  scroll-snap-align: start;
} */
